/*? <-- Navbar --> */

.navItem::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2.5px;
  border-radius: 10px;
  width: 0;
  background-color: var(--secondary);
  transition: all 0.5s;
}

.navItem:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

.active {
  color: var(--secondary);
}

/*? <-- Drawer --> */

.ant-drawer-header {
  background-color: var(--primary);
  color: white;
}

.ant-drawer-header-title button .anticon {
  color: white;
  font-size: 17px;
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
}

/*? <-- Dropdown --> */

.ant-dropdown {
  border: 2px solid var(--primary);
  border-radius: 8px;
}

/*? <-- Swipper Js --> */

.swiper-button-prev,
.swiper-button-next {
  color: var(--secondary) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 35px !important;
  height: 38px !important;
  width: 22px !important;
  margin: 0px !important;
  @apply rounded-full;
  color: var(--secondary);
  border: 2.2px solid var(--secondary) !important;
  background: var(--primary);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
  font-family: Righteous, "sans-serif";
  font-size: smaller;
  width: 24px !important;
  height: 24px !important;
  background: var(--primary) !important;
  color: white !important;
  opacity: 1 !important;
  border: 2px solid var(--secondary) !important;
}

.swiper-pagination-bullet-active {
  background: var(--secondary) !important;
  border: 2px solid var(--primary) !important;
  width: 24px !important;
  height: 24px !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px !important;
}

/*? <-- Accordian --> */

.ant-collapse-header-text {
  font-family: Aladin, "system-ui";
  font-size: large;
}

.ant-collapse-content-box,
.ant-select-item-option-content {
  font-family: Madimi One, "sans-serif";
}

/*? <-- Toast --> */

[data-sonner-toast][data-styled="true"] {
  font-family: Madimi One, "sans-serif";
  color: var(--secondary) !important;
  padding: 10px 16px !important;
  width: fit-content !important;
  border: 2px solid var(--secondary) !important;
}

/*? Tooltip */

.ant-tooltip .ant-tooltip-inner,
.ant-tooltip-placement-top > .ant-tooltip-arrow::after {
  border: 2px solid var(--secondary);
}

/*? Pagination */

.ant-pagination-item-link .anticon {
  border: 2px solid var(--secondary);
  border-radius: 5px;
  padding: 6.5px;
  color: white;
  background: var(--primary);
}

.ant-pagination-item a {
  background: #fff;
  border-radius: 6px;
}

.ant-layout-content .ant-pagination .ant-pagination-item-link .anticon{
  border:0px
}

/*? ANTD Slider */

.ant-layout-sider-trigger .anticon {
  border: 2px solid var(--primary);
  padding: 5px 20px;
  border-radius: 5px;
  background: var(--primary);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0px;
}

.ant-menu-item {
  margin-bottom: 2px;
  background-color: var(--dark);
}

.ant-layout-sider-trigger {
  border-top: 2px solid #364153;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

@media screen and (max-width: 640px) {
  .ant-layout-sider-trigger {
    display: none !important;
  }

  .ant-layout-content .ant-pagination .ant-pagination-item {
    min-width: 25px;
    font-family: "Madimi One";
    margin-right: 4px;
  }
}

/*? Table */

.ant-table-container {
  font-family: "Madimi One";
  margin-top: 10px;
}

.ant-dropdown-menu,
.ant-btn {
  font-family: "Madimi One";
}
.ant-table-pagination .ant-pagination-item {
  font-family: "Madimi One";
}

.ant-spin-container .ant-pagination .ant-pagination-item-link .anticon {
  border: 0px;
  padding: 4px;
}

.relative .ant-select-single{
  height:39px;
}

/*? Modal Icon */

.ant-modal-close-x .anticon{
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
  background: var(--primary);
}