@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Righteous&family=Lobster&family=Madimi+One&family=Aladin&family=Faster+One&family=Protest+Guerrilla&family=Saira+Stencil+One&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@theme {
  --font-berkshire: Berkshire Swash, "serif";
  --font-righteous: Righteous, "sans-serif";
  --font-lobster: Lobster, "sans-serif";
  --font-madimi: Madimi One, "sans-serif";
  --font-aladin: Aladin, "system-ui";
  --font-faster: Faster One, "system-ui";
  --font-saira: Saira Stencil One, "sans-serif";
  --font-protest: Protest Guerrilla, "sans-serif";
  --color-primary: #1677ff;
  --color-secondary: #101828;
  --color-dark: #000c17;
  --4px: 4px;
  --8px: 8px;
}

:root {
  --primary: #1677ff;
  --secondary: #101828;
  --dark:#000c17;
}

::-moz-selection {
  background: var(--primary);
}

::selection {
  background: var(--primary);
  color: white
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}